In [1]:
import os

In [2]:
import pandas

In [3]:
from pyiron import Project

In [4]:
pr = Project("pyiron")

In [5]:
pr.remove_jobs_silently(recursive=True)

In [6]:
structure = pr.create_ase_bulk("Cu")

In [7]:
job = pr.create_job(pr.job_type.Lammps, "lmp_ace")

In [8]:
job.structure = structure

In [9]:
job.potential = 'Cu-ace'

In [10]:
job.potential

,Config,Filename,Model,Name,Species,Citations
0,"[pair_style pace\n, pair_coeff * * df3_cut75_large_body_order.ace Cu\n]",[ace/df3_cut75_large_body_order.ace],ACE,Cu-ace,[Cu],{}

In [11]:
job.run()

The job lmp_ace was saved and received the ID: 1

In [12]:
pr.job_table()

,id,status,chemicalformula,job,subjob,projectpath,project,timestart,timestop,totalcputime,computer,hamilton,hamversion,parentid,masterid
0,1,finished,Cu,lmp_ace,/lmp_ace,/home/jovyan/,pyiron/,2021-03-07 14:46:12.509553,2021-03-07 14:46:13.032967,0.0,pyiron@jupyter-jan-2djanssen-2dpotential-5ftesting-2dzql63ef2#1,Lammps,0.1,None,None